<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://docs.google.com/uc?export=download&id=1_hjIBJ7q2jIg35hw7lO6m9j4k_QnvHSf</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://docs.google.com/uc?export=download&id=1SN1CAH5Y-29DWSesX1AbnjtMiCi5F74H</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://docs.google.com/uc?export=download&id=1uzwxRmhoEuNyW4VlEl2CTPzfPGGLxfQ9</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>kr.co.uclick.cafe6</string>
				<key>bundle-version</key>
				<string>6.2.1</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>서초행정전화</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
